@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background: #1a1a1a;
  background: linear-gradient(135deg, #000000, #1a1a1a, #2d2d2d);
  background: -moz-linear-gradient(135deg, #000000, #1a1a1a, #2d2d2d);
  background: -webkit-linear-gradient(135deg, #000000, #1a1a1a, #2d2d2d);
  background-image: radial-gradient(#2d2d2d 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #1a1a1a;
}
