@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsla(213, 77%, 14%, 1);

  background: linear-gradient(
    315deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203e", endColorstr="#557c93", GradientType=1 );
}
