---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Joshue Abance">
  <main
    class="min-h-screen py-24 w-5/6 xl:w-4/5 mx-auto flex items-center justify-center"
  >
    <div class="text-center text-white">
      <div class="text-left">
        <small>
          <a href="/" class="hover:underline"> Return Home</a>
        </small>
      </div>

      <h3 class="text-3xl font-black mt-8">Contact Me</h3>
      <p>Send me a message for inqueries, commisions or just communication</p>

      <div class="mt-12">
        <form
          action="https://giraffe-pkzd-phurma.theboringdude.deta.app/f/69k6ktm7013i"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="flex flex-col text-left my-2">
            <label for="name" class="text-sm mb-1 text-gray-100">
              Your name
            </label>
            <input
              type="text"
              name="name"
              id="name"
              class="bg-transparent border-2 border-black/20 outline-none hover:border-black/50 py-2 px-4 rounded-xl text-sm"
              placeholder="Your full name..."
              required
            />
          </div>

          <div class="flex flex-col text-left my-2">
            <label for="email" class="text-sm mb-1 text-gray-100">
              Your email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              class="bg-transparent border-2 border-black/20 outline-none hover:border-black/50 py-2 px-4 rounded-xl text-sm"
              placeholder="Your email address..."
              required
            />
          </div>

          <div class="flex flex-col text-left my-2">
            <label for="name" class="text-sm mb-1 text-gray-100">
              Your message
            </label>
            <textarea
              name="name"
              id="name"
              class="bg-transparent border-2 border-black/20 outline-none hover:border-black/50 py-2 px-4 rounded-xl text-sm h-32"
              placeholder="Your message for me..."
              required
            >
            </textarea>
          </div>

          <div class="my-4 text-center">
            <button
              type="submit"
              class="py-3 px-8 rounded-xl bg-black/20 hover:bg-black/60 duration-300 inline-flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
                ></path>
              </svg>

              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</Layout>
