---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

const discord = "joshue?#9999";
---

<script>
  const btnCopy = document.getElementById("copy-discord");
  if (btnCopy) {
    btnCopy.addEventListener("click", () => {
      navigator.clipboard.writeText("joshue?#9999");

      btnCopy.title = "Copied";
      setTimeout(() => {
        btnCopy.title = "Copy Discord Username";
      }, 3000);
    });
  }
</script>

<Layout title="Joshue Abance - Personal Website">
  <div class="text-white">
    <h1 class="text-5xl mt-8 leading-normal">
      Hello, I am <br class="md:hidden" />
      <span class="underline font-black">Joshue Abance (tbdsux)</span>
    </h1>
    <div class="mt-6 text-xl">
      <p>
        I love creating real-world projects / applications (mainly web apps)
        using popular frameworks available.
      </p>
      <p>
        Loves using and experimenting with multiple programming languages and
        multiple frameworks.
      </p>
      <p>Happy coding!</p>
    </div>

    <div class="flex flex-wrap items-center justify-center mt-8">
      <div class="m-2">
        <a
          title="Discord"
          href="https://discordapp.com/users/475085200414605334"
          target="_blank"
          rel="noreferrer"
          class="text-sm hover:bg-black/10 duration-300 hover:border-black/10 inline-flex items-center py-2 px-6 border border-white/10 rounded-xl"
        >
          <img
            class="h-7 w-7"
            src="https://cdn.simpleicons.org/discord/white"
          />

          <span class="ml-2">{discord}</span>
        </a>
      </div>

      <div class="m-2">
        <a
          title="Github"
          href="https://github.com/tbdsux/"
          target="_blank"
          rel="noreferrer"
          class="text-sm hover:bg-black/10 duration-300 hover:border-black/10 inline-flex items-center py-2 px-6 border border-white/10 rounded-xl"
        >
          <img class="h-7 w-7" src="https://cdn.simpleicons.org/github/white" />

          <span class="ml-2">@tbdsux</span>
        </a>
      </div>

      <div class="m-2">
        <a
          title="Github"
          href="https://gitlab.com/tbdsux/"
          target="_blank"
          rel="noreferrer"
          class="text-sm hover:bg-black/10 duration-300 hover:border-black/10 inline-flex items-center py-2 px-6 border border-white/10 rounded-xl"
        >
          <img class="h-7 w-7" src="https://cdn.simpleicons.org/gitlab/white" />

          <span class="ml-2">@tbdsux</span>
        </a>
      </div>

      <div class="m-2">
        <a
          title="Twitter"
          href="https://twitter.com/joshabance"
          target="_blank"
          rel="noreferrer"
          class="text-sm hover:bg-black/10 duration-300 hover:border-black/10 inline-flex items-center py-2 px-6 border border-white/10 rounded-xl"
        >
          <img
            class="h-7 w-7"
            src="https://cdn.simpleicons.org/twitter/white"
          />

          <span class="ml-2">@joshabance</span>
        </a>
      </div>
    </div>

    <div class="m-2"></div>

    <hr class="my-10 border-white/10" />

    <div class="flex items-center justify-center flex-wrap">
      <a
        title="My Works"
        href="/my-works"
        class="hover:bg-black/20 py-2 px-8 rounded-xl border-gray-300/20 hover:border-black/10 border duration-300 m-1 inline-flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
          ></path>
        </svg>

        <span class="ml-2 text-lg font-semibold tracking-wide"> My Works</span>
      </a>

      <a
        title="Send Me a Message"
        href="/contact"
        class="hover:bg-black/20 py-2 px-8 rounded-xl border-gray-300/20 hover:border-black/10 border duration-300 m-1 inline-flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
          ></path>
        </svg>

        <span class="ml-2 text-lg font-semibold tracking-wide">
          Contact Me
        </span>
      </a>
    </div>
  </div>
</Layout>
