---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Message sent - Thank you very much">
  <div class="text-center text-white">
    <div class="text-left"></div>

    <h3 class="text-3xl font-black mt-1">Message sent</h3>
    <p>
      Thank you for sending me a message, I will be notified asap with the
      message you sent...
    </p>

    <div class="mt-12">
      <small>
        <a href="/" class="hover:underline"> Return Home</a>
      </small>
    </div>
  </div>
</Layout>
