---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const frontmatter = Astro.props;
---

<Layout title={`${frontmatter.title} - Blog | Joshue Abance`}>
  <div class="text-center text-white">
    <div class="text-left mb-4">
      <small>
        <a href="/blogs" class="hover:underline"> Return to Blogs</a>
      </small>
    </div>

    <h3 class="text-3xl font-black">{frontmatter.title}</h3>
    <p class="my-1">{frontmatter.description}</p>

    <div class="inline-flex items-center text-xs text-gray-300">
      <p class="mx-4">@{frontmatter.author}</p>
      <p class="mx-4">{new Date(frontmatter.pubDate).toDateString()}</p>
    </div>

    <hr class="my-12" />

    <div class="text-left prose prose-invert max-w-7xl lg:w-11/12 mx-auto">
      <slot />
    </div>
  </div>
</Layout>

<script>
  let codeBlocks = Array.from(document.querySelectorAll("pre"));

  for (const cb of codeBlocks) {
    let copyButton = document.createElement("button");
    copyButton.className =
      "text-xs hidden group-hover:block absolute top-0 right-0 py-0.5 px-4 rounded bg-gray-600 hover:bg-gray-700 text-white duration-300";
    copyButton.innerHTML = "Copy";

    let wrapper = document.createElement("div");
    wrapper.className = "relative group";

    cb.setAttribute("tabindex", "0");
    cb.appendChild(copyButton);

    cb.parentNode?.insertBefore(wrapper, cb);
    wrapper.appendChild(cb);

    copyButton.addEventListener("click", async () => {
      await copyCode(cb, copyButton);
    });
  }

  async function copyCode(block: HTMLPreElement, button: HTMLButtonElement) {
    const code = block.querySelector("code");
    const textCode = code?.innerText ?? "";

    await navigator.clipboard.writeText(textCode);

    button.innerText = "Copied";

    setTimeout(() => {
      button.innerText = "Copy";
    }, 2000);
  }
</script>
