---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} - Blog | Joshue Abance`}>
  <div class="text-center text-white">
    <div class="text-left mb-4">
      <small>
        <a href="/blogs" class="hover:underline"> Return to Blogs</a>
      </small>
    </div>

    <h3 class="text-3xl font-black">{frontmatter.title}</h3>
    <p class="my-1">{frontmatter.description}</p>

    <div class="inline-flex items-center text-xs text-gray-300">
      <p class="mx-4">@{frontmatter.author}</p>
      <p class="mx-4">{new Date(frontmatter.pubDate).toDateString()}</p>
    </div>

    <hr class="my-12" />

    <div class="text-left prose prose-invert max-w-7xl lg:w-11/12 mx-auto">
      <slot />
    </div>
  </div>
</Layout>
