---
import "@fontsource/rubik/300.css";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/600.css";
import "@fontsource/rubik/700.css";
import "@fontsource/rubik/900.css";

import "../styles/tailwind.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://avatars.githubusercontent.com/u/37932956?v=4"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      defer
      src="https://analytics.tbdh.dev/script.js"
      data-website-id="fb34ea28-df1c-4eb5-9dc1-56fc334bab6e"></script>
  </head>
  <body class="min-h-screen w-full">
    <main
      class="min-h-screen py-24 w-5/6 xl:w-4/5 mx-auto flex items-center justify-center"
    >
      <slot />
    </main>
  </body>
</html>
